<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>School</b> Election</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">{{'SIGN_IN' | translate}}</p>

        <form ng-submit="login()">
            <div class="form-group has-feedback">
                <input type="text" required id="userid" class="form-control" placeholder="Username"
                       ng-model="username"/>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" required id="password" class="form-control" placeholder="Password"
                       ng-model="password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label>Language </label>
                <select class="form-control" ng-model="fields.language" ng-change="changeLang(item.id)"
                        ng-options="item.id as item.title for item in languages">

                </select>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign
                        In
                    </button>
                </div>
                <!-- /.col -->
            </div>
        </form>


    </div>
    <!-- /.login-box-body -->
</div>