<div class="wrapper">
    <div class="" style="margin-left: 100px;margin-right: 100px; background-color: #ecf0f5;">

        <div class="login-logo">
            <a href="">{{schoolName}}</a>
        </div>
        <!-- /.login-logo -->
        <div class="">

            <div class="row">
                <div class="col-md-12">
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12 candidate-box" ng-repeat="item in candidateList"
                                 ng-click="select(item._id)">
                                <div class="info-box">
                                            <span class="info-box-icon bg-aqua">
                                                <img width="70px" height="70px"
                                                     src="{{item.icon}}"/>
                                            </span>
                                    <span class="info-box-icon  pull-right checkbox">
                                                  <input type="radio" id="cb-{{item._id}}" name="cb"/>
                                                  <label for="cb-{{item._id}}"></label>
                                                <span></span>
                                            </span>

                                    <div class="info-box-content">
                                        <h1>{{item.name}}</h1>
                                    </div>

                                </div>
                                <!-- /.info-box -->
                            </div>

                        </div>

                    </div>
                    <div class="box-footer clearfix">
                        <h2 class="pull-left">Total Votes:{{totalVotes}}</h2>
                        <a ng-click="goToDashboard()" class="btn btn-lg btn-default btn-flat pull-right">Dashboard</a>
                    </div>

                </div>
                <!-- /.box -->
            </div>
        </div>

    </div>
    <!-- /.login-box-body -->
</div>